flake8
flake8-docstrings
pytest
pytest-cov
pytest-homeassistant-custom-component
pytest-asyncio
pytest-freezer
pytest-tornasync
pytest-trio
pre-commit
homeassistant>=2026.8
aiohttp
ruff
voluptuous
pre-commit
nanoe5>=0.3.0
wikipedia-api>=0.16.0
sympy>=1.14.0